.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  .card > .img-container {
    height: 70%;
    overflow: hidden;
    text-align: center;
   
  }
  /* you can either use ">" or not when 
  you have multiple classes and stuff */
  .card > .img-container > img {
    width: 80%
  }
  .card > .txt-container {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  .card > .txt-container > ul {
    list-style-type: none;
  }
  .card > .txt-container > ul > li {
    margin-top: 18px;
  }
  .card > .remove {
    color: red;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top:10px;
    font-size: 40px;
  }
  .card > .remove:hover {
    color: #d50000;
  }